The range function:
A datatset generator

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10)) # generates list of data with 10 as upper bound

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(90, 100))  # generates list of data within the starting point or endpoint mentioned

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [6]:
list(range(900, 897)) # same logic like the list slicing operation

[]

In [7]:
list(range(900, 897, -1))  #corrected

[900, 899, 898]

In [8]:
list(range(900, 800, -5))  #corrected

[900,
 895,
 890,
 885,
 880,
 875,
 870,
 865,
 860,
 855,
 850,
 845,
 840,
 835,
 830,
 825,
 820,
 815,
 810,
 805]

In [9]:
list(range(900, 89.7, -1))  #error due to float value

TypeError: 'float' object cannot be interpreted as an integer

arange function in numpy will be able to handle such issue

In [11]:
l=[2,3,4,1,34,4,8,9,9]

for i in l:
    print(i)

2
3
4
1
34
4
8
9
9

This extracts all the data one by one from the list untill the entire list gets extracted.

In [14]:
m=[]
# append functions appends data at the end of the list
for i in l:
    m.append(i+2)

In [15]:
m

[4, 5, 6, 3, 36, 6, 10, 11, 11]

Python always maintains the indentation. In case of wrong indentation there is an error.

In [20]:
n=[]
for i in range(len(l)):
    n.append(l[i]+2)

In [21]:
n

[4, 5, 6, 3, 36, 6, 10, 11, 11]

In [22]:
o=[]
for i in range(len(l)):
    if i>4:
        o.append(l[i])

In [23]:
o

[4, 8, 9, 9]

In [26]:
ch=0
if ch>10:
    print("greater than 10")
elif ch>5:
    print ("between 5 and 10")
else:
    print("Less than 5")

Less than 5

In [27]:
a=[1,2,3,4,'Ishita', 8.5, 'Python']
b=[]
for i in a:
    if type(i)==str:
        b.append(i)

In [28]:
b

['Ishita', 'Python']

You can also write nested ifs

In [29]:
s=10
t=10
r=19
if s==10:
    print("s is 10")
    if t==10:
        print("t is also 10")
        if r==10:
            print("r is 10")
        else:
            print("r is not 10")

s is 10
t is also 10
r is not 10

We can also write 'else' with for. The else statement will be executed once after the for condition fails ie after the entire iteration is over

In [30]:
for i in l:
    print(i)
else:
    print("No more elements")

2
3
4
1
34
4
8
9
9
No more elements

In [31]:
d=10
s=0
i=1
while i<=d:
    s=s+i
    print(s)
    i=i+1

1
3
6
10
15
21
28
36
45
55

We will now see how to interrupt

In [32]:
for x in "Ishita":
    print(x)

I
s
h
i
t
a

In [37]:
for x in "Ishita":
    if x == 't':
        break
    print(x)
else:
    print("Reached end")
print("Out of loop")

I
s
h
i
Out of loop

In [38]:
for x in "Ishita":
    if x == 'o':
        break
    print(x)
else:
    print("Reached end")
print("Out of loop")

I
s
h
i
t
a
Reached end
Out of loop

Else will not execute of the loop does not execute fully

In [40]:
for x in "Ishita":
    if x == 't':
        continue
    print(x)

I
s
h
i
a

In the continue statement, when the condition satisfies the control goes to the for loop again. The remaining statements are not executed

We can also take input from the user. However, the input got will always be treated as a string

In [41]:
input()

This is Ishita here.

'This is Ishita here.'

In [44]:
type(input())

123

str

Thus we need to do type casting

In [46]:
a=input()
b=int(a)
print(type(a))
print(type(b))

123
<class 'str'>
<class 'int'>

We can typecast string into integer.
Only if the string contains integers only, it will typecast

In [50]:
# Let's see how we can add to a list from the input only after the condition satisfies

a=int(input("Please insert only an integer"))
l=[1,2,3,7,4,5,6,7,7,8,7]
m=[]

for i in l:
    if i==a:
        m.append(i)
        
m

Please insert only an integer7

[7, 7, 7, 7]

In [51]:
"Ishita"+" is"+" learning Python"  # + works as an concatenation operator

'Ishita is learning Python'

In [52]:
"Ishita"+2

TypeError: can only concatenate str (not "int") to str

In [53]:
"Ishita"+str(45)

'Ishita45'

In [54]:
"Ishita "+"43"

'Ishita 43'

In [56]:
[1,2,3,4]+"ib"  # for +, data type must be same

TypeError: can only concatenate list (not "str") to list

In [57]:
[1,2,3,4]+2

TypeError: can only concatenate list (not "int") to list

In [58]:
[1,2,3,4]+[5,6,7]

[1, 2, 3, 4, 5, 6, 7]

In [59]:
list("Ishita")

['I', 's', 'h', 'i', 't', 'a']