In [1]:
# tuples () parenthesis
t=(1, 2, 3, 4)
t

(1, 2, 3, 4)

In [2]:
type(t)

tuple

In [3]:
t=(1, 2, 3.4, 4+8j, 'ishita')
t

(1, 2, 3.4, (4+8j), 'ishita')

In [4]:
t[3]

(4+8j)

In [5]:
t[-2]

(4+8j)

In [6]:
t[::-1]

('ishita', (4+8j), 3.4, 2, 1)

In [7]:
len(t)

5

In [10]:
l=[1, 2, 3.4, 4+8j, 'ishita'] #list
l

[1, 2, 3.4, (4+8j), 'ishita']

In [11]:
l[1]='python'
l

[1, 'python', 3.4, (4+8j), 'ishita']

In [12]:
t[1]='python'  # reassignment not allowed

TypeError: 'tuple' object does not support item assignment

Mutable elements can be mutated within an index. Eg: list.
Tuples are immutable. Item reassignment not possible.

In [13]:
s='ishita'
s

'ishita'

In [14]:
s[0]

'i'

In [16]:
s[0]='g' #string is immutable

TypeError: 'str' object does not support item assignment

In [17]:
t

(1, 2, 3.4, (4+8j), 'ishita')

In [19]:
for i in t:
    print(t)
#not like lists. tuples do not print individual eelements here

(1, 2, 3.4, (4+8j), 'ishita')
(1, 2, 3.4, (4+8j), 'ishita')
(1, 2, 3.4, (4+8j), 'ishita')
(1, 2, 3.4, (4+8j), 'ishita')
(1, 2, 3.4, (4+8j), 'ishita')

In [20]:
for i in range(len(t)):
    print(t[i])

1
2
3.4
(4+8j)
ishita

In [24]:
t.count(1) # no of 1s in the tuple. Same like list

1

In [25]:
t.count('ih')

0

In [27]:
t.index(2)  # like list

1

In [28]:
t.index(7)  # 7 is not present

ValueError: tuple.index(x): x not in tuple

In [31]:
t1=(1, 2, 3)
t2=(4, 5, 6)
t1+t2
# concatenation allowed but append not allowed

(1, 2, 3, 4, 5, 6)

In [32]:
# to insert a data
l=list(t)
l.insert(2, "Python")
l

[1, 2, 'Python', 3.4, (4+8j), 'ishita']

In [33]:
t=tuple(l)
t

(1, 2, 'Python', 3.4, (4+8j), 'ishita')

In [37]:
s=set([1, 2, 3, 4, 5, 3, 5 , 3,4 , 5, 5, 51, 2, 10, 'ish', 'ish', 'Ish'])
s

{1, 10, 2, 3, 4, 5, 51, 'Ish', 'ish'}

Set is a collection that creates a unique value and removes duplicates.
But it is case sensitive

In [38]:
s1=set([True, False])
s1

{False, True}

In [39]:
s[0]  # not possible

TypeError: 'set' object is not subscriptable

In [40]:
for i in s:
    print(i)

1
2
3
4
5
10
ish
51
Ish

In [41]:
s[::-1]  # not possible

TypeError: 'set' object is not subscriptable

In [42]:
d=set((1, 2, 6.0, 'ishi', 'ishi', 'Ishi'))
d

{1, 2, 6.0, 'Ishi', 'ishi'}

In [43]:
l=list(d)
l

[1, 2, 'ishi', 6.0, 'Ishi']

In [44]:
l[::-1]

['Ishi', 6.0, 'ishi', 2, 1]

In [45]:
b={}
type(b)

dict

In [46]:
type(d)

set

In [47]:
b={3}
type(b)

set

In [48]:
b.add(5)
b.add('py')
b

{3, 5, 'py'}

In [49]:
b.add('a', 'b')

TypeError: add() takes exactly one argument (2 given)

In [50]:
b.pop()

'py'

In [51]:
b

{3, 5}

In [52]:
b.pop()
b.pop()
b

set()

In [55]:
d.pop(2)  # not valid for a set but valid if no argument is given

TypeError: pop() takes no arguments (1 given)

In [56]:
d.pop()

1

In [57]:
d

{2, 6.0, 'Ishi', 'ishi'}

In [58]:
s={4, 5, 6, 7, 8, 1, 'sdjkh'}
s
#sorts the elements

{1, 4, 5, 6, 7, 8, 'sdjkh'}

In [59]:
s={4, 5, 6, 7, 8, 1, 'sdjkh', "##", 'abc', [1,2,3]}
s

TypeError: unhashable type: 'list'

In [61]:
s={4, 444, 565, 78982, 5, 6, 7, 8, 1, 'sdjkh', "##", 'abc'}
s

{'##', 1, 4, 444, 5, 565, 6, 7, 78982, 8, 'abc', 'sdjkh'}

Gives output in alphanumeric order

In [62]:
for i in s:
    print(i)

1
4
5
78982
6
7
8
abc
sdjkh
565
##
444

In [63]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [64]:
s=set(l)
s

{1, 2, 3, 4}

In [67]:
t=list(s)
t

[1, 2, 3, 4]

In [68]:
d={}
type(d)

dict

Dictionary is like a map in other languages

In [70]:
d={"name":"Ishita"} # first element is key and secind is value
d

{'name': 'Ishita'}

In [71]:
d={"name":"Ishita", "surname":"Python"}
d

{'name': 'Ishita', 'surname': 'Python'}

In [72]:
d={"name":"Ishita", "surname":"Python", "name":"uhjgs"}
# duplicate key not allowed. It overwrites with the latest entry
d

{'name': 'uhjgs', 'surname': 'Python'}

In [73]:
d={0:"hello", "name":"Ishita", "surname":"Python"}
d

{0: 'hello', 'name': 'Ishita', 'surname': 'Python'}

In [76]:
d={0:"hello", "name":"Ishita", "surname":"Python", **:'sjadgh'}
d

SyntaxError: invalid syntax (<ipython-input-76-db5ff52a8ee6>, line 1)

In [75]:
d={0:"hello", "name":"Ishita", "surname":"Python", [1,2,3]:"pufa"}
d

TypeError: unhashable type: 'list'

In [77]:
d={"key": [1,2,3,[4,5,6]], "key1":(1,2,3,4,5)}
d

{'key': [1, 2, 3, [4, 5, 6]], 'key1': (1, 2, 3, 4, 5)}

In [78]:
d={"key": [1,2,3,[4,5,6]], "key1":(1,2,3,4,5), "key2": {4,5,6,7}}
d

{'key': [1, 2, 3, [4, 5, 6]], 'key1': (1, 2, 3, 4, 5), 'key2': {4, 5, 6, 7}}

In [79]:
d={"key": [1,2,3,[4,5,6]], "key1":(1,2,3,4,5), "key2": {4,5,6,7}, "key3":{"x1":"vd", "x2":"sd"}}
d

{'key': [1, 2, 3, [4, 5, 6]],
 'key1': (1, 2, 3, 4, 5),
 'key2': {4, 5, 6, 7},
 'key3': {'x1': 'vd', 'x2': 'sd'}}

In [80]:
d[0]

KeyError: 0

In [81]:
d['key3']

{'x1': 'vd', 'x2': 'sd'}

In [82]:
d['key3']['x1']

'vd'

In [83]:
for i in d:
    print(i)

key
key1
key2
key3

In [84]:
for i in d:
    print(d[i])

[1, 2, 3, [4, 5, 6]]
(1, 2, 3, 4, 5)
{4, 5, 6, 7}
{'x1': 'vd', 'x2': 'sd'}

In [85]:
d.keys()

dict_keys(['key', 'key1', 'key2', 'key3'])

In [86]:
for i in d.keys():
    print(d[i])

[1, 2, 3, [4, 5, 6]]
(1, 2, 3, 4, 5)
{4, 5, 6, 7}
{'x1': 'vd', 'x2': 'sd'}

In [87]:
d.values()

dict_values([[1, 2, 3, [4, 5, 6]], (1, 2, 3, 4, 5), {4, 5, 6, 7}, {'x1': 'vd', 'x2': 'sd'}])

In [88]:
m=[]
for i in d.values():
    if type(i)==tuple:
        for j in i:
            m.append(j)
            
m

[1, 2, 3, 4, 5]

In [89]:
# add a newdataest
d['key5']='anew'
d

{'key': [1, 2, 3, [4, 5, 6]],
 'key1': (1, 2, 3, 4, 5),
 'key2': {4, 5, 6, 7},
 'key3': {'x1': 'vd', 'x2': 'sd'},
 'key5': 'anew'}

In [90]:
d['key2']='tgis overwrites with the new value'
d

{'key': [1, 2, 3, [4, 5, 6]],
 'key1': (1, 2, 3, 4, 5),
 'key2': 'tgis overwrites with the new value',
 'key3': {'x1': 'vd', 'x2': 'sd'},
 'key5': 'anew'}

In [91]:
d={}
for i in range(10):
    d[i]=i**2
    
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [92]:
l=['abc', 'ahsfd', 'hadsf']
d={}
for i in l:
    d[i]=i.upper()
    
d

{'abc': 'ABC', 'ahsfd': 'AHSFD', 'hadsf': 'HADSF'}

In [93]:
l=['abc', 'ahsfd', 'hadsf']
d={}
for i in l:
    d[i]=i.isupper()
    
d

{'abc': False, 'ahsfd': False, 'hadsf': False}

In [94]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [95]:
d.items()

dict_items([('abc', False), ('ahsfd', False), ('hadsf', False)])

# Functions

In [96]:
# you have to give a body
def test():
    pass

In [97]:
test()

In [98]:
type(test())

NoneType

In [99]:
for i in range(8):
    pass

In [103]:
def test():
    a=1
    b=6
    print("Function", a+b)

In [104]:
test()

Function 7

In [105]:
type(test())

Function 7

NoneType

In [106]:
type(print("asjhgd"))  #Print always returns nonetype

asjhgd

NoneType

In [107]:
def test():
    a=1
    b=6
    print(a+b)
    
b=test()
b+1

7

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [108]:
# although looks like integer but print always returns a none type. Thus primitive operation not possible

In [109]:
def test():
    return 7

type(test())

int

In [110]:
n=test()
n+90

97

In [111]:
def test(a, b):
    return a+b


x=test(2, 3)
x

5

In [112]:
x=test('ish', 'py')
x

'ishpy'

In [113]:
type(test())

TypeError: test() missing 2 required positional arguments: 'a' and 'b'

In [115]:
type(test(1, 2))

int

In [116]:
test([1, 2, 3, 4], [5, 6, 7])

[1, 2, 3, 4, 5, 6, 7]

In [117]:
def test(a, b):
    return a+b, a*b

x, y=test(6, 7)

In [118]:
print(x)
print(y)

13
42

In [119]:
a, b, c=1, 4.5, 'isih'
print(a, b, c)

1 4.5 isih

In [120]:
x, _=test(1, 2)  # this is a placeholder
x

3

In [121]:
_, x=test(1, 2)  # this is a placeholder
x

2

In [122]:
def test(a, b='su'):
    return a+b

test('xyz')

'xyzsu'

In [123]:
test('ab', 'cf')

'abcf'

In [124]:
# generator function generates a dataset/object. eg: range()