In [8]:
s="iB"
s+1

TypeError: can only concatenate str (not "int") to str

In [9]:
s+str(1) # conctenate

'iB1'

In [10]:
s*10 #repeatation

'iBiBiBiBiBiBiBiBiBiB'

In [11]:
[1, 2, "I"]*3

[1, 2, 'I', 1, 2, 'I', 1, 2, 'I']

Let's see some String inbuilt function. Press tab after '.'

In [13]:
s.upper()  # convert into uppercase

'IB'

In [14]:
s.lower()  #convert into lower case

'ib'

In [15]:
the_str="I am Ishita. Hello! Nice to meet you."

In [16]:
the_str.split()

['I', 'am', 'Ishita.', 'Hello!', 'Nice', 'to', 'meet', 'you.']

The data is split into a list

In [18]:
the_str.split(sep="!") #separator is whitespace by default.
#but we can use ourown and overwrite it

['I am Ishita. Hello', ' Nice to meet you.']

However, we can only provide one delimeter

In [19]:
the_str.split(sep="a")

['I ', 'm Ishit', '. Hello! Nice to meet you.']

In [21]:
the_str.split(sep="A")  # it is case sensitive

['I am Ishita. Hello! Nice to meet you.']

There is another method called Partition. Let's see.

In [23]:
the_str.partition() # there is no default delim

TypeError: partition() takes exactly one argument (0 given)

In [24]:
the_str.partition('H')

('I am Ishita. ', 'H', 'ello! Nice to meet you.')

It splits the dataset. But, the deimeter will also be a part of the final result. However, this was not the case for split.

Partition will only cnosider the first occurence of the delim. Split takes all occurences

In [25]:
the_str.partition('a')

('I ', 'a', 'm Ishita. Hello! Nice to meet you.')

partition always gives 3 data

In [26]:
type(the_str.split('a'))

list

In [27]:
type(the_str.partition('a'))

tuple

Press shift and tab for the definitions of a func

In [28]:
d="sjhgfdasglhjhgGDSHFksjgdhajhgjhkagFGFGFGds kjsjhk shkdh"

In [30]:
d.find('s') # returns the first occurence of the character.

0

In [31]:
d.find('GD')

14

In [33]:
d.find('z')

-1

In [34]:
f="Ishita"

In [40]:
f.center(10, 'p') # will not accept more than 1 char

'ppIshitapp'

Centers the string with a given width and character

In [41]:
f.center(10, '**')

TypeError: The fill character must be exactly one character long

In [42]:
f.center(10, '*')

'**Ishita**'

In [43]:
'happy\tlucky'.split()

['happy', 'lucky']

In [44]:
'ajhgafs\tkajsg\tjscbas,\t'.expandtabs()

'ajhgafs kajsg   jscbas, '

In [46]:
'ajhgafs\tkajsg\tjscbas,\t'.split('\t')

['ajhgafs', 'kajsg', 'jscbas,', '']

In [47]:
'my name is {}. Hello!'.format('Ishita')

'my name is Ishita. Hello!'

In [52]:
a=input("Your name: ")
b=input("Your age: ")
"your name is {} {}".format(a, b) # sequence & number is important

Your name: Ishita
Your age: 20

'your name is Ishita 20'

In [53]:
s="Hello"

In [54]:
s.isalnum()  #function starting with is always returns a boolean

True

In [55]:
s.isalpha()

True

In [56]:
t="1234dg"
t.isalpha()

False

In [58]:
t.isalnum()

True

In [59]:
"123".isdigit()

True

In [60]:
"123".islower()

False

In [61]:
"123r".islower()

True

In [62]:
"1243HGDS".isupper()

True

In [63]:
"dfgshak".istitle()

False

In [65]:
"Ishita".istitle() #first char in Caps. rest small

True

In [66]:
"sahdf".endswith('s')

False

In [67]:
"sahdf".endswith('f')

True

In [68]:
"sahdf".endswith('F')

False

In [69]:
len(t)

6

In [70]:
print(t)

1234dg

In [74]:
a=[1,2,3,4.5,"huf", [7,8,9]]
b=[4,5,6,"my ", "sdhf"]

In [72]:
for i in a:
    print(i)

1
2
3
4.5
huf
[7, 8, 9]

In [73]:
m=[]
for i in a:
    m.append(i)
m

[1, 2, 3, 4.5, 'huf', [7, 8, 9]]

In [75]:
a+b

[1, 2, 3, 4.5, 'huf', [7, 8, 9], 4, 5, 6, 'my ', 'sdhf']

In [76]:
(a+b)*2

[1,
 2,
 3,
 4.5,
 'huf',
 [7, 8, 9],
 4,
 5,
 6,
 'my ',
 'sdhf',
 1,
 2,
 3,
 4.5,
 'huf',
 [7, 8, 9],
 4,
 5,
 6,
 'my ',
 'sdhf']

In [78]:
b+"sdnv"

TypeError: can only concatenate list (not "str") to list

In [79]:
b+["shagfd"]

[4, 5, 6, 'my ', 'sdhf', 'shagfd']

In [81]:
b+list("shaf") # the string is broken down into a list of chars

[4, 5, 6, 'my ', 'sdhf', 's', 'h', 'a', 'f']

In [82]:
list([34]) #but not for numbers

[34]

In [83]:
b.append("abd")

In [84]:
b

[4, 5, 6, 'my ', 'sdhf', 'abd']

Appends inserts in the tail position. But insert inserts in any position acc to index

In [85]:
b

[4, 5, 6, 'my ', 'sdhf', 'abd']

In [86]:
b.insert(4, "werty")

In [87]:
b

[4, 5, 6, 'my ', 'werty', 'sdhf', 'abd']

In [88]:
b.insert(-2, "werty")

In [89]:
b

[4, 5, 6, 'my ', 'werty', 'werty', 'sdhf', 'abd']

insert function always inserts the element before the given index and the rest elements are shifted into the right. Same thing happens even when negative indexes are used.

In [90]:
b.insert(-1, [4,5,6])
b

[4, 5, 6, 'my ', 'werty', 'werty', 'sdhf', [4, 5, 6], 'abd']

In [91]:
b.pop() # removes data from the last index

'abd'

In [92]:
b

[4, 5, 6, 'my ', 'werty', 'werty', 'sdhf', [4, 5, 6]]

In [93]:
#to remove an element from a particular index:
b.pop(2)

6

In [94]:
b

[4, 5, 'my ', 'werty', 'werty', 'sdhf', [4, 5, 6]]

In [96]:
b[::-1]  # reverses th entire list

[[4, 5, 6], 'sdhf', 'werty', 'werty', 'my ', 5, 4]

In [97]:
#reverse function also does the same thing. But reverse operation modifies the list permanently
b.reverse()

In [98]:
b

[[4, 5, 6], 'sdhf', 'werty', 'werty', 'my ', 5, 4]

In [99]:
b.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

Sort will not work if there are different data types within the list

In [100]:
m=[11,2, 43,3,4]
m.sort()
m

[2, 3, 4, 11, 43]

In [101]:
m=['dfgdhs', 'ajhdahvd', 'abcd']
m.sort()
m

['abcd', 'ajhdahvd', 'dfgdhs']

In [104]:
m=[[3,4,1], [9, 2, 5], [6, 77, 4]]
m.sort()
m

[[3, 4, 1], [6, 77, 4], [9, 2, 5]]

In [105]:
m.sort(reverse=True)
m

[[9, 2, 5], [6, 77, 4], [3, 4, 1]]

In [108]:
a=[3, 4, 5,6, 7, 8]
b=[3,44, 12, 789]
c=[45, 67 ,23, 89, 4,5 , 34 , 90, 99, 87]
d=[a, b, c]
d

[[3, 4, 5, 6, 7, 8], [3, 44, 12, 789], [45, 67, 23, 89, 4, 5, 34, 90, 99, 87]]

In [109]:
d[-1]

[45, 67, 23, 89, 4, 5, 34, 90, 99, 87]

In [110]:
d[-1][::2]

[45, 23, 4, 34, 99]

In [111]:
d[-1][-1]

87

In [112]:
# reversal of list of list. Inside of list of list also
m=[]
d=d[::-1]
for i in d:
    m.append(i[::-1])
m

[[87, 99, 90, 34, 5, 4, 89, 23, 67, 45], [789, 12, 44, 3], [8, 7, 6, 5, 4, 3]]

In [115]:
for i in m:
    print(i[2])

90
44
6

In [117]:
n=[]
for i in m:
    n.append(i[2]*2)
n

[180, 88, 12]

The list comprehension operation:

In [119]:
[{i[2]*2} for i in m]

[{180}, {88}, {12}]

In [120]:
[i[2]*2 for i in m]

[180, 88, 12]

In [121]:
s=[1, 2, 3, 4]
s.append('abc')
s.append([1,2,3])
s

[1, 2, 3, 4, 'abc', [1, 2, 3]]

In [122]:
m=[4, 5, 'ish']
m.extend([6, 7, 'hgadsf'])
m
#does a ravel/unwrap operation and returns a list. Thus , no bracket

[4, 5, 'ish', 6, 7, 'hgadsf']

In [124]:
m.extend([1, 2, [4, 5, 6]])
#unwraps only the first level

In [125]:
m

[4, 5, 'ish', 6, 7, 'hgadsf', 1, 2, [4, 5, 6]]

In [126]:
m.index(6) # index of first occurence

3

In [129]:
m.pop(0)

4

In [130]:
m.index(4)

ValueError: 4 is not in list

Tuple: It is a dataset where you can store any elements. It is an immutable entity