We can also use online binders that will provide python notebook
We can also use use google colab.But it will keep on re allocating our resources after 12 hours. Thus long DL projects will not be easier there. Other wise for general purposes, it works completely fine!

TPU speed > GPU speed > CPU speed

Python supports scripting. It is a functional programming language as well. Python is also very less complex than c, c++, java.
It is very easy for Data science.

Variable:  
All execution will happen inside the RAM. The variable is an element that holds data inside the main memory.
It can hold digit, sentence, etc.

In [2]:
a=10 # data type of variable does not needdefinition
a

10

In [3]:
type(a)

int

In [4]:
b=10.09
b

10.09

In [5]:
type(b)

float

In [6]:
check=True
type(check)

bool

In [7]:
check

True

In [8]:
com=4 + 7j
com

(4+7j)

In [9]:
type(com)

complex

If you press "Shift+Tab" after clicking on a function, you will gwt to see all the details of the functions, arguments, etc.
Just press tab after variable and dot to get the variety of functions it supports.

In [10]:
print(com.imag)
print(com.real)
print(com.conjugate)

7.0
4.0
<built-in method conjugate of complex object at 0x000001F2729C72D0>

In [11]:
True + True #internally tries to take True as 1

2

In [13]:
True + False # false is 0

1

In [14]:
"""
This is a multi
Line comment
"""

'\nThis is a multi\nLine comment\n'

In [15]:
'''
It can be of
Single
or
Double 
Quote
'''

'\nIt can be of\nSingle\nor\nDouble \nQuote\n'

In [16]:
s="My name is Ishita."
s

'My name is Ishita.'

In [17]:
type(s)

str

In [18]:
sing='This is single quote string. Use either.'
sing

'This is single quote string. Use either.'

In [19]:
type(sing)

str

In [20]:
stro='This is her's'  
# single quote and ' #in body

SyntaxError: invalid syntax (<ipython-input-20-5273183af5bb>, line 1)

In [21]:
stro="This is her"s"  
# double quote and ' #in body

SyntaxError: invalid syntax (<ipython-input-21-197be730b109>, line 1)

So ofcourse, in this type of cases:
1. if we need single quote inside, use double outside
2. if we need double quote inside, use single outside
3. if we need both inside, we can enclose the data inside a triple quote

In [23]:
stroop='''Nita said, "Is this bag your's?"'''

In [24]:
stroop

'Nita said, "Is this bag your\'s?"'

No let's see how we can extract data out of a string

In [29]:
mystring="This is Ishita Bardhan."   #internally stores in non negative indexes that is, they start from 0

# we can access the data using both forward and backward indexes

In [28]:
id(mystring)  #memory location of the variable

2140836213584

In the backward direction, we can access the string from right to left that starts from -1

In [30]:
mystring[0]

'T'

In [31]:
mystring[-2]

'n'

In [32]:
mystring[30] # index out of range

IndexError: string index out of range

In [34]:
#slicing  starting point:ending point+1

mystring[0:5]

'This '

In [35]:
#access data by jumps starting point: ending point+1: step size
mystring[0:10:2]

'Ti sI'

Now, we come to the scaling concept

In [36]:
mystring[0:5:-1]

''

In the previous code we mentioned that start from 0 and go till 5 but take jump in the opposite direction. That means go from left to right but jump towards the left.
Thus, we do not get any data.

Let's see a rectification:

In [37]:
mystring[5:0:-1]

'i sih'

In [39]:
# this cincept can be used to reverse a string

mystring[::-1]

# we have not mentioned starting and ending points. But it has the step size. 
# Thus automatically, it will start from the end and move towards the front with step size =-1.

'.nahdraB atihsI si sihT'

List:
The previous data types are known as Primitive Data Types. 
A list is equivalent to an array. It can hold heterogeneous elements inside itself.
It is one of the most powerful and widely used data structure.
Note: arrays are present in the numpy library

In [40]:
c=[]
type(c)

list

In [42]:
d=list()
type(d)

list

In [44]:
c=[1, 1.2, "abc", True, 7+5j]
c

# can store multiple variety of data

[1, 1.2, 'abc', True, (7+5j)]

In [45]:
c[2]

'abc'

In [46]:
c[-3]

'abc'

In [47]:
type(c)

list

In [48]:
type(c[2])

str

In [49]:
c=[1, 1.2, "abc", True, 7+5j, [1, 2, 3]]

In [50]:
c[-1]

[1, 2, 3]

In [51]:
c[-1][1]

2

In [53]:
c[0:50]  # even if 50th index does not exist, it will not comaplain

[1, 1.2, 'abc', True, (7+5j), [1, 2, 3]]

In [54]:
c[0:2]

[1, 1.2]

In [56]:
c[-1: -5]

# here, we start from -1 and go to -5 but, default step size is -1. Thus, we see that the it tries to go from right to left 
# step size being 1 forces it to go towards the right

[]

In [57]:
c[-1: -5: -1]

[[1, 2, 3], (7+5j), True, 'abc']