In [5]:
try:
    f=open('xyz.txt')
    f.write("afsdgmhjld00")
except:
    print("File not writeable")
else:
    print("file works fine")
finally:
    print(10)

File not writeable
10

In [6]:
try:
    f=open('xyz.txt', 'w')
    f.write("afsdgmhjld00")
except:
    print("File not writeable")
else:
    print("file works fine")
finally:
    print(10)

file works fine
10

Compile time errors will not be handled in try except. It only works for runtimeerrors.

In [9]:
# you can write try except anywhere

try:
    f=open('xyz.txt')
    f.write("afsdgmhjld00")
except:
    print("File not writeable")
else:
    print("file works fine")
finally:
    print(10)
    try:
        f=open('xyz1.txt')
    except Exception as e:
        print(e)

File not writeable
10
[Errno 2] No such file or directory: 'xyz1.txt'

In [4]:
def askint():
    while True:
        
        try:
            v=int(input("Please enter an integer: "))
        except Exception as e:
            print(e)
            print("Enter an integer only.")
            continue
        else:
            print("Integer entered.")
            break
        finally:
            print("Finally.")
            try:
                print(v)
            except Exception as e:
                print(e)
            else:
                print("Value v is present.")
    print(v)

In [5]:
askint()

Please enter an integer: jhsd
invalid literal for int() with base 10: 'jhsd'
Enter an integer only.
Finally.
local variable 'v' referenced before assignment
Please enter an integer: ajw
invalid literal for int() with base 10: 'ajw'
Enter an integer only.
Finally.
local variable 'v' referenced before assignment
Please enter an integer: 12
Integer entered.
Finally.
12
Value v is present.
12

In [12]:
try:
    f=open('xyz.txt')
    f.write("Ishita")
except OSError as e:#IOError
    print(e)
except IOError:
    print("This is an IOError")

not writable

In [20]:
try:
    f=open('abz.txt')
    f.write("Ishita")
except FileExistsError as e:#IOError
    print(e)
except ValueError:
    print("Catch value Error")
except FileNotFoundError:
    print("Catch file not found Error")
except IOError:
    print("Catch io Error")
except OSError:
    print("Catch os Error")
except Exception as e:
    print("Other Error ",e)
    
# it also depends on priority. if you write os before io, and it is also a oserror, then oserror will execute first

Catch file not found Error

In [23]:
try:
    f=open('hsdf.txt')
    f.write('hagfsdk')
except (OSError, FileExistsError, FileNotFoundError, ValueError, Exception):
    print('Error with this code')

Error with this code

In [26]:
def check():

    try:
        v=int(input("Enter integer: "))
        if v<2:
            raise ValueError("Not what I was looking for.")
    except ValueError as e:
        print(e)

In [27]:
check()
check()
check()

Enter integer: 5
Enter integer: 1
Not what I was looking for.
Enter integer: df
invalid literal for int() with base 10: 'df'

The above is how we write our own exception

# Lite Database SQLITE

It is an in memory database

In [28]:
import sqlite3

In [30]:
c=sqlite3.connect("Ishita")

In [31]:
c.execute('drop table if exists abc')
#execute lines one by one
#execute many executes many lines

In [34]:
c.execute("create table abc(id int, name text, score int)")

In [36]:
c.execute("insert into abc(id, name, score) values(1, 'Ishita', 10)")

In [37]:
c.commit()

In [38]:
c.execute("insert into abc(id, name, score) values(2, 'Heenata', 4)")
c.execute("insert into abc(id, name, score) values(3, 'Kagayama', 5)")
c.execute("insert into abc(id, name, score) values(4, 'Sugiwara', 9)")
c.execute("insert into abc(id, name, score) values(5, 'Sukishima', 10)")
c.commit()

In [40]:
list(c.execute('select * from abc'))

[(1, 'Ishita', 10),
 (2, 'Heenata', 4),
 (3, 'Kagayama', 5),
 (4, 'Sugiwara', 9),
 (5, 'Sukishima', 10)]

In [41]:
list(c.execute('select * from abc'))[0]

(1, 'Ishita', 10)

In [42]:
for i in c.execute('select * from abc'):
    print(i)

(1, 'Ishita', 10)
(2, 'Heenata', 4)
(3, 'Kagayama', 5)
(4, 'Sugiwara', 9)
(5, 'Sukishima', 10)

In [44]:
for i in c.execute('select * from abc order by score'):
    print(i)

(2, 'Heenata', 4)
(3, 'Kagayama', 5)
(4, 'Sugiwara', 9)
(1, 'Ishita', 10)
(5, 'Sukishima', 10)

In [46]:
for i in c.execute("select * from abc where name ='Heenata'"):
    print(i)

(2, 'Heenata', 4)